* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 380px;
    height: 600px;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #aaa;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.textarea {
    width: 100%;
    height: 270px;

}

.head {
    height: 20px;
    text-align: center;
}

button {
    width: 100%;
    border: none;
    background-color: #333;
    color: white;
    padding: 2px;
}

button:hover {
    background-color: skyblue;
    cursor: pointer;
}

textarea {
    width: 100%;
    margin-top: 9px;
    height: 260px;
    border: 1px solid #aaa;

}

.result {
    width: 100%;
    height: 280px;
    background-color: #fff;
    border: 1px solid #aaa;
}